  <nav class="navbar main-nav sticky-top navbar-expand-sm navbar-light bg-white mb-5" id="main-nav">


    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="flex-column container-fluid ">
      <div class="nav-icons d-flex  align-items-center ml-auto ">
        <% if @current_order %>
  <!--         <div id="cart-icon" ><%= link_to order_path(@current_order) do %>
               <i class="fa fa-shopping-cart"></i>
              <% end %> -->
          <div id="cart-icon"><%= link_to "", order_path(@current_order), class: 'fa fa-shopping-cart ml-2 mr-2' %>
          </div>
          <div id="cart-count"><%= @current_order.order_items.count %></div>
        <% end %>

          <div id="login-icon">
            <% if user_signed_in? %>

                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

          <% else %>

              <%= link_to "Login", new_user_session_path, class: "nav-link link-style" %>

          <% end %>
          </div>

     </div>

      <div class="container-fluid px-0">
          <div class="collapse navbar-collapse" id="navbarNav">

              <ul class="navbar-nav container-fluid px-0 justify-content-around">
                  <li class="nav-item">
                      <%= link_to "COFFEES", root_path(:anchor => "coffee-header"), class: "nav-link smoothscroll" %>
                  </li>
                  <li class="nav-item">
                      <%= link_to "EQUIPMENT", products_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                      <%= link_to "BREWING", brewing_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item d-none d-md-block">
                 <%= link_to root_path, class: "nav-link brava-logo" do %>
                    <%= image_tag "Brava_Logo.png" %>
                 <% end %>
                  </li>

                  <li class="nav-item active">
                    <%= link_to "ABOUT", about_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                      <%= link_to "SUBSCRIBE", "#", class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                      <%= link_to "CONTACT", root_path(:anchor => "footer-section"), class: "nav-link smoothscroll" %>
                  </li>

              </ul>

          </div>

         </div>

      </div>
  </nav>


