<div class="container payment-container d-flex justify-content-center">
  <div class="card col-10 col-lg-6">
    <div class="card-body">
      <h2 class="text-center mb-4"> <%=t(".checkout-sum") %></h2>

         <h5 class="text-center"><%= t(".command") %> <%= @order.amount_cents %> € <%=t(".is")%> </h5>


      <hr class="mb-3">
      <p class="mt-4 text-center"><%= t(".purchase-thanks")%></p>

    </div>
  </div>
</div>
