<h3>hello <%=current_user.username %></h3>
<h1>wanna pay <%= @order.amount_cents%> ? </h1>

  <%= form_tag orders_path, :method => :put, class: "coffee_form" do %>

    <%= label_tag Order.human_attribute_name("shipping_zone") %>

    <%= select_tag "shipping_zone", raw("<option>Portugal</option><option>Rest of Europe</option>"), multiple: false, class:"coffee_form btn-block form-control-lg", id:"selected_shipping_zone", onchange: "displayPriceOrder();"  %>

    <%= label_tag Product.human_attribute_name("shipping_method")%>
    <%= select_tag "shipping_method", raw("<option>regular mail</option><option>registered mail</option>"), multiple: false, class:"coffee_form btn-block form-control-lg", id:"selected_weight"%>

    <div class='mt-3'>
      <%= submit_tag t("addcart"), class: 'btn btn-block btn-warning' %>

  <% end %>



