<div id= 'home' class="container">
  <header id ="banner" class="row py-5">
    <div class="col-md-6 px-0">
      <div class="banner-img d-none d-md-block dark-overlay">
        <%= image_tag "coffee-contour.png",  class:"d-block img-fluid" %>
      </div>
    </div>
    <div class="col-md-6 align-self-center">
      <div class="banner-text text-md-right text-sm-center">
        <h1 class= "h5 main-text pr-4">
          Brava is an artisanal specialty coffee roaster. We've taken in our own hands the beautiful mission of offering you just the perfect cup of coffee.
        </h1>
        <br>
        <br>
        <h5 class= "secondary-text pr-4">
          Our beans are chosen among the best in the world, produced by agricultural communities with sustainable practices, ethically and environmentally.
        </h5>
     </div>
    </div>
  </header>

  <section id="coffee-header" class="py-5">
    <div class="text-center ">
      <h2> Our selection of coffees</h2>
    </div>
  </section >
  <section id="coffee">
    <div class="row mb-4">
       <% @coffees.each do |product| %>

          <div class="col-sm-12 mb-5 px-0">
            <div class="card  text-white ">

                  <div class="card-img  w-100" alt="">
                  <%= image_tag "#{product.photo}", class:"img-fluid img-light"  %>
                  </div>
                  <div class="card-img-overlay light-overlay row align-items-center pr-5">
                      <div class="col-sm-8">

                       <h4 class="  my-auto card-title text-right "><%= product.origin.upcase %></h4>
                       </div>
                       <div class="col-sm-4 text-right">
                        <%= link_to "Discover", product_path(product), class: "btn btn-outline-secondary" %>

                    </div>
                  </div>
              </div>
          </div>
       <% end %>
    </div>
  </section >

  <section id="how-it-works" class="my-5 container px-0 py-5">

    <div class="row how-it-works-section pt-3 px-5">
      <div class="col hit pt-2 text-center how-it-works-text">
        <%= image_tag "test_hiw.png",  class:"img-fluid mb-2" %>
         <p class= "main-text">YOU CHOOSE</p>
         <p class= "px-3 secondary-text">the quantity for one purchase</p>
      </div>

       <div class="col hit text-center icon-arrow">
          <%= image_tag "arrow.png",  class:"img-fluid mb-2" %>
      </div>

      <div class="col hit pt-2 text-center how-it-works-text">
        <%= image_tag "test_hiw.png",  class:"img-fluid mb-2" %>
         <p class= "main-text">WE ROAST</p>
         <p class= "px-3 secondary-text">your coffee on demand</p>
      </div>

      <div class="col hit icon-arrow text-center">
          <%= image_tag "arrow.png",  class:"img-fluid  mb-2" %>
      </div>

      <div class="col hit pt-2 text-center how-it-works-text">
        <%= image_tag "test_hiw.png",  class:"img-fluid mb-2" %>
         <p class= "main-text">WE SEND</p>
         <p class= "px-3 secondary-text">just after roasting</p>
      </div>

      <div class="col hit icon-arrow text-center">
          <%= image_tag "arrow.png",  class:"img-fluid mb-2" %>
      </div>

      <div class="col hit pt-2 text-center how-it-works-text">
        <%= image_tag "test_hiw.png",  class:"img-fluid mb-2" %>
         <p class= "main-text">YOU TASTE</p>
         <p class= "secondary-text">where you want, when you want!</p>
      </div>
    </div>
  </section >

  <section class="my-5 container px-0" id="subscribe">
    <div class="row how-it-works-section pt-3 align-items-center">
      <div class="col-md-6">
        <%= image_tag "subscribe.jpg",  class:"img-fluid mb-2" %>

      </div>
      <div class="col-md-6 subscribe-text">
        <h2 class="mb-5 text-center" >Get your coffee at your doorstep, or offer it</h2>
        <div class="subscribe-buttons d-flex justify-content-around px-5">
          <button class="btn btn-warning">
            Subscribe
          </button>
          <button class="btn btn-warning">
            Send gift!
          </button>
        </div>
      </div>
    </div>
  </section>

  <section id="brewing" class="my-5 container px-0">

    <div class="row brewing-section py-5 px-5 align-items-center">
      <div class="col-md-6">
        <h2 class="" >How do you brew?</h2>
        <h5>Learn the art of<strong> Mocha</strong>, <strong>French press</strong> and other<strong> brewing processes</strong>.
        </h5>

        <h5 class="mb-4">Want to try a new way ?
          <br>
          Check our <strong>brewing equipment!</strong>
        </h5>
      </div>

      <div class="col-md-6 pl-5 text-center">
        <div class="d-flex justify-content-between align-items-center">
          <div class="brewing-pic-icons">
            <%= image_tag "espresso_symbol_negative.png",  class:"img-fluid brew-icons mb-2" %>
          </div>
          <div class="brewing-pic-icons">
            <%= image_tag "filter_coffee_symbol_negative.png",  class:"img-fluid brew-icons mb-2" %>
          </div>
          <div class="brewing-pic-icons">
            <%= image_tag "french_press_symbol_negative.png",  class:"img-fluid brew-icons mb-2" %>
          </div>
          <div class="brewing-pic-icons">
            <%= image_tag "moca_symbol_negative.png",  class:"img-fluid brew-icons mb-2" %>
          </div>

        </div>

      </div>
    </div>
  </section>

</div>

  <footer id="footer-section" class="footer  mt-5 px-0 py-5" >
    <div class="container">
      <div class="row px-0">
        <div class="col-md-4 text-center mb-3">
          <adress>
            <h3 class="mb-4" >CONTACT US</h3>

            <p>bravacoffeeroasters@gmail.com

            </p>
            <p>
                +351 93 123 4567
              <br>
                Rua das Magnolias, n.° 1
              <br>
                1200-241 Lisboa / Portugal
            </p>
          </adress>

        </div>
        <div class="col-md-4 text-center">
          <h3>FOLLOW BRAVA</h3>
          <div class="row justify-content-around px-5 pt-4 mb-3">
          <div class="col-sm-4 mb-2">
          <a href="#"><i class="text-white border rounded-circle py-3 px-3 fab fa-twitter"></i></a>
          </div>
          <div class="col-sm-4 mb-2">
          <a href="https://www.instagram.com/"><i class="text-white border rounded-circle py-3 px-3  fab fa-instagram"></i></a>
            </div>
          <div class="col-sm-4 mb-2">
          <a href="https://www.facebook.com/"><i class="text-white border rounded-circle py-3 px-3 fab fa-facebook-f"></i></a>
            </div>
        </div>
        </div>
        <div class="col-md-4">
          <h3 class="text-center mb-4">STAY IN TOUCH</h3>
          <div class="form-row text-center px-3">
            <div class="col">
              <div class="input form-control footer-form mb-3 px-4">
                  <div class="small text-muted form-text">
                    your email address
                  </div>
              </div>
              <div class="input form-control footer-form">
                <div class="small  form-text">
                    SIGN UP
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </footer>

