<div class="container">
  <div id ="banner" class="row py-5">
    <div class="col-md-6 px-0">
      <div class="banner-img d-none d-md-block dark-overlay">
        <%= image_tag "coffee-contour.png",  class:"d-block img-fluid" %>
      </div>
    </div>
    <div class="col-md-6 align-self-center">
      <div class="banner-text text-md-right text-sm-center">
        <h3 class= "main-text pr-4">
          Brava é uma torrefatora artesanal de cafés
          de especialidade, que nasce da vontade
          de encontrar a chávena perfeita.
        </h3>
        <br>
        <br>
        <h3 class= "secondary-text pr-4">
          Os nossos grãos são escolhidos de entre os melhores cafés do mundo, produzidos por comunidades agrícolas com práticas sustentáveis, ética e ambientalmente.
        </h3>
     </div>
    </div>
  </div>


  <div id="coffee" class="my-5">
    <div id="coffee-header" class="text-center mb-5">
      <h2> Our selection of coffees</h2>
    </div>
    <div class="row mb-4">
       <% @coffees.each do |product| %>

          <div class="col-sm-12 mb-5 px-0">
            <div class="card  text-white ">

                  <div class="card-img  w-100" alt="">
                  <%= image_tag "#{product.photo}", class:"img-fluid img-light"  %>
                  </div>
                  <div class="card-img-overlay light-overlay row align-items-center pr-5">
                      <div class="col-sm-8">

                       <h4 class="  my-auto card-title text-right "><%= product.origin.upcase %></h4>
                       </div>
                       <div class="col-sm-4 text-right">
                        <%= link_to "Discover", product_path(product), class: "btn btn-outline-secondary" %>

                    </div>
                  </div>

              </div>
          </div>

      <% end %>
    </div>
  </div>

  <div id="how-it-works" class="my-5 px-0">
    <div class="row px-0">
      <div class="how-it-works-img pt-4">

          <%= image_tag "Brava_howitworks-green.png",  class:"d-block img-fluid" %>
      </div>

      <div class="how-it-works-text">
        <p>YOU CHOOSE</p>
        <p>the quantity for one purchase</p>
      </div>
    </div>

  </div>

