<div id= 'home' class="container">
  <header id ="banner" class=" text-center pb-5">

      <h2 class="main-title"><%= t(".brava_intro_1") %></h2>

  </header>

  <section id="coffee-header" class="pb-5 d-none d-md-block">
    <div class="text-center">
      <h2 class="px-5" > <%= t(".selection") %></h2>
    </div>
  </section >

  <section id="coffee">
    <div class="row">
      <% @coffees.each do |product| %>
       <% if product.name != 'AMACA' && product.name != 'FUDAM' %>

         <%= link_to product_path(product) do %>
          <div class="col-sm-12 mb-4 py-4" style=" background-image: url(<%= asset_path "#{product.photo}" %>)">
            <div class="row">
              <div class="cof-main-title text-center col-md-6 offset-md-3">
                <h4 class="card-title text-center">
                  <%= t("origin_att.#{product.origin}").upcase %>
               </h4>
                <p class="card-sub-title mb-2">
                  <%=product.name.upcase%>
                </p>
          <% end %>
        <% else %>

            <div class="col-sm-12 mb-4 py-4" style=" background-image: url(<%= asset_path "#{product.photo}" %>)">
            <div class="row">
              <div class="cof-main-title text-center col-md-6 offset-md-3">
                <h4 class="card-title text-center out-of-stock">
                  <%= t("origin_att.#{product.origin}").upcase %>
               </h4>
                <p class="card-sub-title out-of-stock mb-2">
                  <%=product.name.upcase%>
                </p>

          <% end %>

            </div>

            <div class="cof-second-title text-center col-md-3 pt-3 align-items-center d-none d-md-block ">
              <% if product.name != 'AMACA' && product.name != 'FUDAM' %>
                  <%= link_to t(".discover"), product_path(product), class: "btn cof-btn btn-outline-secondary button-card" %>

              <% else %>
                <%= link_to 'out of stock', root_path, class: "btn cof-btn btn-outline-secondary disabled button-card" , :disabled => true %>
              <% end %>

            </div>

          </div>

        </div>
      <% end %>
    </div>

  </section>

  <section class="my-5 w-100" id="subscribe">
    <div class="row sub-color py-5 text-center align-items-center">
      <div class="col-md-12 subscribe-text">
        <h2 class="mb-5 text-center" ><%= t(".subscribe_text") %></h2>
        <div class="subscribe-buttons d-flex justify-content-center px-5">
            <%= link_to t(".subscribe"), new_subscription_path, class: "btn btn-warning mx-3" %>
        <div class="subscribe-buttons d-flex justify-content-center">
            <%= link_to t(".gift"), new_subscription_path, class: "btn btn-warning px-4" %>
        </div>
      </div>
    </div>
  </section>

  <section id="brewing" class="mb-5">

    <div class="row brewing-section py-5 align-items-center">
      <div class="col-md-6 text-center text-md-left">
        <h2><%= t(".brew_title") %></h2>
        <h5><%= t(".brew_line_html") %> <b><strong>
        <%= link_to t(".brewing_guides"), brewing_path, class:"link-brewing"%>
        </strong></b>
        </h5>

        <h5 class="mb-4"><%= t(".brew_way") %>
          <br>
          <%= t(".check") %> <b><strong>
            <%= link_to t(".brewing_eq"), products_path, class:"link-brewing" %></strong></b>
        </h5>
      </div>

      <div class="col-md-6 pl-5 text-center px-5 mt-3">
        <div class="d-flex justify-content-between align-items-center">
          <div class="brewing-pic-icons">
            <%= link_to brewing_path(:anchor => "chemex") do %>
              <%= image_tag "chemex_symbol_negative.png",  class:"img-fluid brew-icons mb-2 " %>
            <% end %>

          </div>
          <div class="brewing-pic-icons">
            <%= link_to brewing_path(:anchor => "french-press") do %>
              <%= image_tag "french_press_symbol_negative.png",  class:"img-fluid brew-icons mb-2 pb-2" %>
            <% end %>
          </div>
          <div class="brewing-pic-icons">
            <%= link_to brewing_path(:anchor => "V60") do %>
              <%= image_tag "V60_symbol_negative.png",  class:"img-fluid brew-icons mb-2" %>
            <% end %>
          </div>
          <div class="brewing-pic-icons">
            <%= link_to brewing_path(:anchor => "moca") do %>
              <%= image_tag "moca_symbol_negative.png",  class:"img-fluid brew-icons mb-2" %>
            <% end %>
          </div>

        </div>

      </div>
    </div>
  </section>

</div>

  <footer id="footer-section" class="footer mt-5 " >
    <div class="container">
      <div class="row footer-contact px-0">
        <div class="col-md-6 text-center text-md-left mb-5">
          <adress>
            <h3 class="mb-4" ><%= t(".contact") %></h3>

            <p>info@bravacoffeeroasters.com

            </p>
            <p>
                +351 963 498 556
            </p>
          </adress>
        </div>
        <div id="contact" class="col-md-6">
          <%= render 'contact_form' %>

        </div>
       </div>
        <div class="row px-0 footer-follow">
        <div class="col-md-6 text-center text-md-left">
          <h3><%= t(".follow") %></h3>

          <div class="d-flex footer-icons justify-content-center justify-content-md-start mt-4">
            <a href="https://www.instagram.com/bravacoffeeroasters/" target="_blank" class="pr-3"><i class="border py-3 px-3  fab fa-instagram"></i></a>

            <a href="https://www.facebook.com/bravacoffeeroasters/" target="_blank" ><i class="border py-3 fb-icon fab fa-facebook-f"></i></a>
          </div>

        </div>
    </div>
    <div class="copyright mt-5">
      © 2021 Brava Coffee Roasters. Site by CrX.
    </div>

  </footer>

