<div id= 'home' class="container">
  <header id ="banner" class="row py-5">
    <div class="col-md-6 px-0">
      <div class="banner-img d-none d-md-block dark-overlay">
        <%= image_tag "coffee-contour.png",  class:"d-block img-fluid" %>
      </div>
    </div>
    <div class="col-md-6 align-self-center">
      <div class="banner-text text-md-right text-sm-center">
        <h1 class= "h5 main-text pr-4">
          Brava is an artisanal specialty coffee roaster. We've taken in our own hands the beautiful mission of offering you just the perfect cup of coffee.
        </h1>
        <br>
        <br>
        <h5 class= "secondary-text pr-4">
          Our beans are chosen among the best in the world, produced by agricultural communities with sustainable practices, ethically and environmentally.
        </h5>
     </div>
    </div>
  </header>

  <section id="coffee-header" class="py-5">
    <div class="text-center ">
      <h2> Our selection of coffees</h2>
    </div>
  </section >
  <section id="coffee">
    <div class="row mb-4">
       <% @coffees.each do |product| %>

          <div class="col-sm-12 mb-5 px-0">
            <div class="card  text-white ">

                  <div class="card-img  w-100" alt="">
                  <%= image_tag "#{product.photo}", class:"img-fluid img-light"  %>
                  </div>
                  <div class="card-img-overlay light-overlay row align-items-center pr-5">
                      <div class="col-sm-8">

                       <h4 class="  my-auto card-title text-right "><%= product.origin.upcase %></h4>
                       </div>
                       <div class="col-sm-4 text-right">
                        <%= link_to "Discover", product_path(product), class: "btn btn-outline-secondary" %>

                    </div>
                  </div>
              </div>
          </div>
       <% end %>
    </div>
  </section >

  <section id="how-it-works" class="my-5 px-0">
    <div class="row px-0">
      <div class="how-it-works-img pt-4">

          <%= image_tag "Brava_howitworks-green.png",  class:"d-block img-fluid" %>
      </div>

      <div class="how-it-works-text">
        <p>YOU CHOOSE</p>
        <p>the quantity for one purchase</p>
      </div>
    </div>

  </section >
</div>

