<div id= 'home' class="container">
  <header id ="banner" class="row py-5">
    <div class="col-md-6 px-0">
      <div class="banner-img d-none d-md-block dark-overlay">
        <%= image_tag "coffee-contour.png",  class:"d-block img-fluid" %>
      </div>
    </div>
    <div class="col-md-6 align-self-center">
      <div class="banner-text text-md-right text-sm-center">
        <h1 class= "h5 main-text pr-4">
          <%= t(".brava_intro_1") %>
        </h1>
        <h1 class= "h5 main-text pr-4">
          <%= t(".brava_intro_2") %>
        </h1>

        <h5 class= "secondary-text pr-4">
           <%= t(".brava_intro_3") %>
        </h5>
     </div>
    </div>
  </header>

  <section id="coffee-header" class="py-5">
    <div class="text-center ">
      <h2> <%= t(".selection") %></h2>
    </div>
  </section >
  <section id="coffee">
    <div class="row mb-4">
       <% @coffees.each do |product| %>

          <div class="col-sm-12 mb-5 px-0">
            <div class="card color-card">

                  <div class="card-img  w-100" alt="">
                  <%= image_tag "#{product.photo}", class:"img-fluid img-light"  %>
                  </div>
                  <div class="card-img-overlay light-overlay box-card">

                       <div class="link-caf-hidden">
                        <%= link_to t(".discover"), product_path(product), class: "btn btn-outline-secondary text-right" %>

                       </div>

                       <h4 class="card-title"><%= product.origin.upcase %></h4>
                       <div class="link-caf">
                        <%= link_to t(".discover"), product_path(product), class: "btn cof-btn btn-outline-secondary text-right button-card" %>

                       </div>


                  </div>
              </div>
          </div>
       <% end %>
    </div>
  </section >


  <section class="my-5 container px-0" id="subscribe">
    <div class="row how-it-works-section pt-3 align-items-center">
      <div class="col-md-6">
        <%= image_tag "subscribe.jpg",  class:"d-none d-lg-block img-fluid mb-2" %>

      </div>
      <div class="col-lg-6 subscribe-text">
        <h2 class="mb-5 text-center" ><%= t(".subscribe_text") %></h2>
        <div class="subscribe-buttons d-flex justify-content-around px-5">
          <button class="btn btn-warning">
            <%= t(".subscribe") %>
          </button>
          <button class="btn btn-warning">
            <%= t(".gift") %>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section id="brewing" class="my-5 container px-0">

    <div class="row brewing-section py-5 px-5 align-items-center">
      <div class="col-md-6">
        <h2><%= t(".brew_title") %></h2>
        <h5><%= t(".brew_line_html") %> <b><strong>
        <%= link_to t(".brewing_guides"), brewing_path, class:"link-brewing"%>
        </strong></b>
        </h5>

        <h5 class="mb-4"><%= t(".brew_way") %>
          <br>
          <%= t(".check") %> <b><strong>
            <%= link_to t(".brewing_eq"), products_path, class:"link-brewing" %></strong></b>
        </h5>
      </div>

      <div class="col-md-6 pl-5 text-center">
        <div class="d-flex justify-content-between align-items-center">
          <div class="brewing-pic-icons">

            <%= image_tag "espresso_symbol_negative.png",  class:"img-fluid brew-icons mb-2" %>

          </div>
          <div class="brewing-pic-icons">
            <%= image_tag "filter_coffee_symbol_negative.png",  class:"img-fluid brew-icons mb-2" %>
          </div>
          <div class="brewing-pic-icons">
            <%= image_tag "french_press_symbol_negative.png",  class:"img-fluid brew-icons mb-2" %>
          </div>
          <div class="brewing-pic-icons">
            <%= image_tag "moca_symbol_negative.png",  class:"img-fluid brew-icons mb-2" %>
          </div>

        </div>

      </div>
    </div>
  </section>

</div>

  <footer id="footer-section" class="footer  mt-5 px-0 py-5" >
    <div class="container">
      <div class="row px-0">
        <div class="col-md-4 text-center mb-3">
          <adress>
            <h3 class="mb-4" ><%= t(".contact") %></h3>

            <p>bravacoffeeroasters@gmail.com

            </p>
            <p>
                +351 93 123 4567
              <br>
                Rua das Magnolias, n.° 1
              <br>
                1200-241 Lisboa / Portugal
            </p>
          </adress>

        </div>
        <div class="col-md-4 text-center">
          <h3><%= t(".follow") %></h3>
          <div class="row justify-content-around px-5 pt-4 mb-3">
          <div class="col-sm-4 mb-2">
          <a href="#"><i class="text-white border rounded-circle py-3 px-3 fab fa-twitter"></i></a>
          </div>
          <div class="col-sm-4 mb-2">
          <a href="https://www.instagram.com/"><i class="text-white border rounded-circle py-3 px-3  fab fa-instagram"></i></a>
            </div>
          <div class="col-sm-4 mb-2">
          <a href="https://www.facebook.com/"><i class="text-white border rounded-circle py-3 px-3 fab fa-facebook-f"></i></a>
            </div>
        </div>
        </div>

        <div id="contact" class="col-md-4">
          <%= render 'contact_form' %>

        </div>
      </div>
    </div>

  </footer>

