<div class="container order-show-container d-flex justify-content-center">
  <div class="card col-10 col-lg-6">
    <div class="card-body">
      <h2 class="text-center">Shopping Cart</h2>

      <hr class="mb-3">
      <% @cart.order_items.each do |item| %>

      <div id="order-item-id-<%=item.id%>">
        <div class="container mt-4 d-flex justify-content-between align-items-center" >
          <div>
            <%= item.quantity %>
            <% if item.product.category.name == 'coffee' %>
              <%= item.product.name %> -
              <%= item.grind %>
            <% else %>
              <%= t("name_att.#{item.product.name}") %>

            <% end %>
          </div>
          <div>
          <span class="order-item-price"> <%= item.product.price * item.quantity.to_i %> €</span>
            <%= link_to order_item_path(item), method: :delete, remote: true do %>
              <i class="far fa-trash-alt pl-3"></i>
            <% end  %>
          </div>
        </div>
        <hr>
      </div>
      <% end %>
      <div class="text-right pr-5"><b id="total_price_euros">Total: <%= @cart.amount_cents %> €</b></div>

   <%= form_tag orders_path,  class: "cart_form mt-5 text-right" do %>
      <%= hidden_field_tag 'cart_id', @cart.id %>
        <%= submit_tag "Proceed to checkout", class: 'btn btn-outline-primary' %>
   <% end %>

    </div>
  </div>
</div>
<div class="container text-center shop-buttons mt-5" >
  <%= link_to "Empty cart", cart_path(@current_cart), class: "btn btn-primary  mr-5", style: "color:#FDFCF1;", method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to "Continue shopping", root_path, class: "btn btn-primary", style: "color:#FDFCF1;" %>
</div>
