<div class="container">
  <h3>You have chosen a <%= @subscription.name%> subscription </h3>

  <p> You'll receive your package every month </p>

  <p class= "sub-summary-title text-muted"> First payment </p>
  <% s = @subscription.current_period_start %>
  <p> <%=s.strftime("%A %d %B %Y" )  %> </p>
  <p class= "sub-summary-title text-muted"> Next payment </p>
  <% n = @subscription.current_period_start + 1.months %>
  <p> <%=n.strftime("%A %d %B %Y" )  %> </p>
  <p class= "sub-summary-title text-muted"> End of Subscription </p>
  <% e = @subscription.current_period_end  %>
  <p> <%=e.strftime("%A %d %B %Y" )  %> </p>

 <button id="pay" class="text-center btn btn-primary mt-3">Proceed to checkout</button>
    <script src="https://js.stripe.com/v3/">

    </script>
    <script>
      const paymentButton = document.getElementById('pay');
      paymentButton.addEventListener('click', () => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
          sessionId: '<%= @session.id %>'
        });
      });
    </script>

</div>


