<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

      <p> Hello Joana, </p>
      <p>You have a new order from <%= @user.username %>! </p>
      <p><strong>Date:</strong> <%= @order.created_at.strftime("%d %B %Y" ) %></p>
      <br>
      <p><strong><u>CUSTOMER INFO :</u></strong></p>
      <p><strong>Email: </strong><%= @user.email %></p>
      <% if @order.shipping_zone != nil %>
      <p><strong>Name: </strong><%=@stripe_session_data.shipping.name%></p>
      <% end %>
      <br>
      <hr>

      <p><strong><u>ORDER INFO :</u></strong></p>

          <p><strong>Order Total Price:</strong> <%= @order.amount_cents + @order.shipping_cost%> €</p>
          <p><strong>Items Details:</strong></p>

          <% @order.order_items.each do |orderitem| %>
            <ul>
              <li>
                <p><%=orderitem.quantity%> <%=t("name_att.#{orderitem.product.name}")%></p>
                <% if orderitem.weight != nil %>
                  <p><strong>Grind: </strong><%=orderitem.grind %></p>
                  <p><strong>Weight: </strong><%=orderitem.weight %> gr</p>
              <% end %>
              </li>
            </ul>
          <% end %>

        <hr>
        <p><strong><u>DELIVERY INFO :</u></strong></p>
            <% if @order.shipping_zone == nil %>
              <p><strong>Collect Address:</strong></p>
              <p><%= @order.collect_address %> </p>
            <% else %>
              <p><%= @order.shipping_zone %> / <%= @order.shipping_method %></p>
              <p><strong>Address of delivery:</strong></p>
              <p> <%=@stripe_session_data.shipping.address.line1%> </p>
              <p> <%=@stripe_session_data.shipping.address.line2%> </p>
              <p> <%=@stripe_session_data.shipping.address.postal_code%> <%=@stripe_session_data.shipping.address.city%> </p>
              <p> <%=@stripe_session_data.shipping.address.country%> </p>
            <% end %>
            <hr>
      <p>Have a nice delivery ;) </p>
      <p>Beijos</p>

      <p><%= image_tag attachments['Brava_Logo_mail.png'].url %></p>
      <p><%=  link_to "www.bravacoffeeroasters.com", "https://www.bravacoffeeroasters.com" %></p>
       <div class="d-flex justify-content-center justify-content-md-start mt-4 mr-5">
          <%= link_to "https://www.facebook.com/bravacoffeeroasters/" do %>
           <%= image_tag attachments['facebook-square-brands.png'].url %>
          <% end %>
          <%= link_to "https://www.instagram.com/bravacoffeeroasters/" do %>
           <%= image_tag attachments['instagram-square-brands.png'].url %>
          <% end %>
      </div>
  </body>
</html>
