<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

      <p><%= t(".mail_hello") %>, <%= @user.username %>!</p>
      <p><%= t(".mail_thanks_1_html")%></p>
      <p><%= image_tag attachments['Brava_Logo_mail.png'].url %></p>
      <p><%=  link_to "www.bravacoffeeroasters.com", "https://www.bravacoffeeroasters.com" %></p>
       <div class="d-flex justify-content-center justify-content-md-start mt-4 mr-5">
          <%= link_to "https://www.facebook.com/bravacoffeeroasters/" do %>
           <%= image_tag attachments['facebook-square-brands.png'].url %>
            <% end %>
          <%= link_to "https://www.instagram.com/bravacoffeeroasters/" do %>
           <%= image_tag attachments['instagram-square-brands.png'].url %>
            <% end %>
      </div>
  </body>
</html>


