<div class="container payment-container d-flex justify-content-center">
  <div class="card col-10 col-lg-6 text-center">
    <div class="card-body">
      <h3 class="text-center">Thanks for your order!</h3>
         <h1> <small><span class="badge badge-primary"><% @order.state %></span></small></h1>

      <% @order.order_items.each do |item| %>

      <div id="order-item-id-<%=item.id%>">
        <div class="container mt-4 d-flex justify-content-between align-items-center" >
          <div>
            <%= item.quantity %>
            <% if item.product.category.name == 'coffee' %>
              <%= item.product.name %> -
              <%= item.grind %>
            <% else %>
              <%= item.product.name %>
            <% end %>

        <% end %>

      <button id="pay" class="text-center btn btn-primary mt-3">Pay</button>
      <script src="https://js.stripe.com/v3/">

      </script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @session.id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
