<% content_for :meta_title, "#{@product.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @product.description %>


<div id= "products-coffees" class="container-fluid ">
<!--   <hr style="color:blue;" > -->
  <% if @product.category.name == 'coffee' %>

    <div class="row main-top pt-4">
      <div class="col-md-6 top-left text-center d-block">
        <%= image_tag "#{@product.photo_square}", class:"img-fluid pic img-light", height: 20  %>
      </div>
      <div class="col-md-6 pr-5 top-right coffee-title">
         <h2 style= "display: inline"><%= t("origin_att.#{@product.origin}").upcase%> </h2> <h3 style= "display: inline"> <%=  @product.name%></h3>
         <div class="coffee-choices mb-3 mt-2">
            <h3><%= t("cup_notes_att.#{@product.cupping_notes}") %></h3>
        </div>
        <div class="row mt-3">
           <div class="col-md-4">
              <div class="form-group">
                <%= form_tag order_items_path  class: "coffee_form" do %>

                <%= label_tag Product.human_attribute_name("grind_options") %>

                <% raw_str = [] %>
                <%grind_choices = t("grind_op_att.#{@product.grind_options}") %>


                <% grind_choices.each do |item| %>
                  <% raw_str << "<option>#{item}</option>" %>
                <% end %>
                <% raw_str = raw_str.join.to_s %>
                <%= select_tag "grind", raw("#{raw_str}"), multiple: false, class:"coffee_form btn-block form-control-lg"  %>


                <%= label_tag Product.human_attribute_name("weight")%>
                <%= select_tag "weight", raw("<option>250</option><option>1000</option>"), multiple: false, class:"coffee_form btn-block form-control-lg", id:"selected_weight", onchange: "displayPrice();"  %>

                    <div class="input-group">
                      <input type="button" value="-" class="button-minus" data-field="quantity">
                      <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                      <input type="button" value="+" class="button-plus" data-field="quantity">
                    </div>


             <!--    <%= label_tag Product.human_attribute_name("quantity")%>
                <%= select_tag("quantity", raw("<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>"), multiple: false, class:"coffee_form btn-block form-control-lg", id:"selected_quantity", onchange: "displayPrice();") %> -->


                <%= hidden_field_tag 'product_id', @product.id %>

                <div class='mt-3'>
                  <%= submit_tag t("addcart"), class: 'btn btn-block btn-warning' %>

                  <% version_product = Product.where({name: @product.name, weight: 1000}).first %>
                  <p style="visibility: hidden" id= "hidden_price_max"> <%= version_product.price %></p>
                  <p style="visibility: hidden" id= "hidden_price_min"> <%= @product.price %></p>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-3 text-right" id="display_price">
            <%= humanized_money_with_symbol(@product.price) %>
          </div>
        </div>

        </div>
      </div>
    </div>




   <div class="row py-5">
      <div class="coffee_description_text mb-5 col-md-12">
          <% if @product.category.name == 'coffee' %>

            <p><%=Product.human_attribute_name("region").capitalize%>: <%=@product.region%> </p>
            <p><%=Product.human_attribute_name("process").capitalize%>: <%= t("process_att")  %> </p>
            <p><%= t("description_att.#{@product.description}")%></p>
            <% if current_user && current_user.admin %>
              <%= link_to 'Edit', edit_product_path(@product) %>
            <% end %>
          <% end %>
      </div>

      <div class="coffee_images_links col-md-12 d-flex pb-4 pl-2 justify-content-center">

            <% @coffees.each do |product| %>
              <% if product.id != @product.id %>
                <%= link_to product_path(product) do %>
                <div class="text-center">
                  <%= image_tag "#{product.photo_square}", class: 'mx-2 pic-gallery'%>
                  <% if product.name.include?("farm")%>
                    <p class="px-3"><%= product.name.gsub(/farm/, "")%></p>
                   <% else %>
                    <p><%= product.name%></p>
                  <% end %>
                <% end %>
                </div>
              <% end %>
            <% end %>
      </div>
   </div>


 <% else %>

    <% if @product.name != "hario_01_name" %>

      <div id="a" class="row equip-row pt-4 px-5">
          <div class="col-md-6 img-equipment mb-4 text-center">
            <%= image_tag @product.photo, class:"img-equipment" %>
          </div>

          <div class="col-sm-12 equipment-desc col-lg-6 ">
            <h4><%= t("name_att.#{@product.name}")%></h4>
            <p><%= t("description_att.#{@product.description}")%></p>
            <p><%= humanized_money_with_symbol(@product.price) %></p>

              <%= form_tag order_items_path do %>
                  <div class="quantity">

                    <div class="input-group">
                      <input type="button" value="-" class="button-minus" data-field="quantity">
                      <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                      <input type="button" value="+" class="button-plus" data-field="quantity">
                    </div>

                    <%= hidden_field_tag 'product_id', @product.id %>
                  </div>

                  <div class="d-flex justify-content-between">
                    <div class="shop-icon">
                      <%= button_tag(type: "submit", class: " btn btn-outline-info") do %>
                          <i class="fa fa-shopping-cart"></i>
                      <% end %>
                    </div>
                    <div>
                   <%= link_to "<", products_path, class: "btn btn-outline-info" %>
                    </div>

                  </div>
              <% end %>

          </div>
      </div>
    <% else %>
        <div id="a" class="row pt-4 px-5">

          <div class="col-md-6  img-equipment text-center">
            <%= image_tag @product.photo, class:"img-equipment", size: "260x260" %>
            <h4><%= t("name_att.#{@product.name}")%></h4>
            <p><%= t("description_att.#{@product.description}") %></p>
            <p><%= humanized_money_with_symbol(@product.price) %></p>

              <%= form_tag order_items_path do %>
                <div class="quantity">
                  <div class="input-group">
                    <input type="button" value="-" class="button-minus" data-field="quantity">
                    <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                    <input type="button" value="+" class="button-plus" data-field="quantity">
                  </div>
                  <%= hidden_field_tag 'product_id', @product.id %>
                </div>

                <div class="shop-icon">
                  <%= button_tag(type: "submit", class: " btn btn-outline-info") do %>
                      <i class="fa fa-shopping-cart"></i>
                  <% end %>
                </div>
             <% end %>
          </div>

          <div class="col-md-6 img-equipment mt-3 text-center">
            <% @product = Product.where(name: 'hario_02_name').take %>
              <%= image_tag @product.photo, class:"img-equipment", size: "260x260" %>
              <h4><%= t("name_att.#{@product.name}")%></h4>
              <p><%= t("description_att.#{@product.description}")%></p>
              <p><%= humanized_money_with_symbol(@product.price) %></p>

            <%= form_tag order_items_path do %>

              <div class="quantity">
                <div class="input-group">
                  <input type="button" value="-" class="button-minus" data-field="quantity">
                  <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                  <input type="button" value="+" class="button-plus" data-field="quantity">
                </div>
                <%= hidden_field_tag 'product_id', @product.id %>
              </div>
              <div class="shop-icon">
                <%= button_tag(type: "submit", class: "btn btn-outline-info") do %>
                    <i class="fa fa-shopping-cart"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

      <div class="text-center pb-3 mt-3">
       <%= link_to "<", products_path, class: "btn btn-outline-info" %>
      </div>

    <% end %>
      <br>



  <% end %>

</div>
